.git
.gitignore
**/__pycache__
**/*.pyc
.venv
.venv*
.env
**/.env
**/.env.local
frontend/.next
frontend/node_modules
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
*.md
!README.md
.cursor
terminals
frontend/.turbo
